body {

    margin: 0%;
    padding: 0%;
    background: linear-gradient(-45deg, #FA8BFF, #2BD2FF, #FFE53B, #FF2525, #FBDA61)
}

#logo{
    position:fixed;
    left: 10px;
    top: 10px;
    height:60px;
    aspect-ratio: 1;
    border: solid #000000;
    border-radius: 50%;
    background: url("./logo1.png");
    background-size: contain;
    background-position:center;
  }

.outer {
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgb(0, 229, 255);
    width: 100vw;
    height: 100vh;
}

.calculator {
    background: #EBECF1;
    box-shadow: 6px 6px 1px rgb(208, 204, 204);
    border-radius: 24px;
    font-family: Nova Round;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    height: 623.800px;
    width: 328px;
    padding: 10px;
    padding-right: 18px;
    padding-top: 25px;
    border-color: rgb(55, 80, 119);
    overflow: hidden;
    /*position: relative;*/
    display: grid;
    gap: 10px;
    max-width: 400px;
}

#out {
    height: 1px;
    width: 1px;
}

.black {
    justify-self: center;
    background-color: #EBECF1;
    box-shadow: inset 1.5px 1.5px 3px #8e8e8e, inset -1.5px -1.5px 3px #959595;
    border-radius: 13px;
    width: 297px;
    height: 110px;
    margin-top: 0%;
}

#screen {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    /* White text color */
    text-align: left;
    width: 291px;
    height: 55px;
    white-space: nowrap;
    overflow-x: hidden;
    position: absolute;
    max-width: 100%;
    /* Allow the text to shrink Resetting font-size to 1em, which is equivalent to the default font size */
    border-radius: 24px 24px 10px 10px;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

#result {
    margin-top: 55px;
    width: 287px;
    height: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    color: rgb(0, 253, 80);
    /* White text color */
    text-align: left;
    max-width: 100%;
    /* Allow the text to shrink  /*Resetting font-size to 1em, which is equivalent to the default font size */
    padding-top: 9px;
    padding-right: 5px;
    padding-left: 5px;
    border-color: #8e8e8e;
    border-style: dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

@media (max-width: 600px) {
    .text {
        font-size: 14px;
    }
}

button {
    border: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: margin .2s ease-in-out;
    border-radius: 30%;
    box-shadow: 4.5px 4.5px 9px #c4c4c4,-4.5px -4.5px 9px #FFFFFF;
    transition:background-color .1s ease-in-out, box-shadow .1s ease-in-out, color .2s ease-in-out;
    border-radius: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    box-shadow: 0px 0px 0px #CBCBCB,0px 0px 0px #FFFFFF;
    opacity:0.8;
}

.number {
    background: rgb(137, 240, 141);
}

.operators {
    background: #8590d9;
}

.delete{
    background: #ff5d5d;
}

.bracket{
    background: #6addfc;
}

#right,
#left{
    border-radius: 87% 13% 13% 87% / 50% 13% 13% 50%;
    margin-top: 15px;
    height: 55px;
    background: rgb(131, 117, 255);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#left {
    border-radius: 13% 100% 100% 13% / 14% 50% 50% 15%;

}

.some {
    background: rgb(3, 254, 170)
}

#round {
    background: #daf47f;
}

#ON {
    background: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    font-weight: bolder
}